<footer>
    <div class="container small py-2">
        <div class="row">
            <div class="col-6 text-center text-md-left">
                <a href="#"><i class="icon fab fa-facebook-square"></i></a>
                <a href="#"><i class="icon fab fa-linkedin"></i></i></a>
            </div>
            <div class="col-6 mt-md-1 text-center text-md-right">
                2019 &copy; <span class="text-primary">Capstone Logic</span> Studio, Website Development and Digital Marketing.
            </div>
        </div>
        
    </div>
</footer>
